<div style="width: 200px; height: 150px;">
    <div class="row time-buttons">
        <div class="col-50" align="center">
            <button type="button" class="button button-positive button-clear icon ion-chevron-up" ng-click="ngTimeCtrl.changeHour('+')"></button>
        </div>
        <div class="col-50" align="center">
            <button type="button" class="button button-positive button-clear icon ion-chevron-up" ng-click="ngTimeCtrl.changeMinute('+')"></button>
        </div>
    </div>
    <div class="row time">
        <label class="col col-50">
            <div class="item item-input">
                <div>
                    <input style="text-align: center;background-color: #FFF; font-size: 2em;" type="text" ng-model="ngTimeCtrl.hour" readonly="readonly">
                </div>
            </div>
        </label>
        <label class="col col-50">
            <div class="item item-input">
                <div>
                    <input style="text-align: center;background-color: #FFF; font-size: 1.5em;" type="text" ng-model="ngTimeCtrl.minute" readonly="readonly">
                </div>
            </div>
        </label>
    </div>
    <div class="row time-buttons">
        <div class="col-50" align="center">
            <button type="button" class="button button-positive button-clear icon ion-chevron-down" ng-click="ngTimeCtrl.changeHour('-')"></button>
        </div>
        <div class="col-50" align="center">
            <button type="button" class="button button-positive button-clear icon ion-chevron-down" ng-click="ngTimeCtrl.changeMinute('-')"></button>
        </div>
    </div>
</div>
